.App {
  text-align: center;
  background-color: #222;
}

body {
  background-color: #222;
}

.App-header {
  justify-content: center;
  background-color: #222;
  padding: 20px;
  color: white;
}

/* gallery styling */
.images {
  line-height: 0;
  -webkit-column-count: 5;
  -webkit-column-gap: 0px;
  -moz-column-count: 5;
  -moz-column-gap: 0px;
  column-count: 5;
  column-gap: 0px;  
}

.images img {
  width: 100% !important;
  height: auto !important;
}

/*Fade in and out animations*/
.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}


.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

/*media queries for differing screen size responsivity*/
@media (max-width: 1200px) {
  .images {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  .images {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  .images {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  .images {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
